@import url(http://fonts.googleapis.com/css?family=Offside);

#logo { 
    color:#FFF; 
    font-family:'Offside'; 
    font-size:40px; 
    margin-bottom:50px; 
    margin-top:50px; 
    text-align: center;
}
#logo span{ 
    display:inline-block; 
}

.dd{ 
    animation-delay:0.6s; 
    -moz-animation-delay:0.6s; 
    -webkit-animation-delay:0.6s; 
}
.da{ 
    animation-delay:2s; 
    -moz-animation-delay:2s; 
    -webkit-animation-delay:2s; 
}
.dn{ 
    animation-delay:2.3s; 
    -moz-animation-delay:2.3s; 
    -webkit-animation-delay:2.3s; 
}
.dg{ 
    animation-delay:1.5s; 
    -moz-animation-delay:1.5s; 
    -webkit-animation-delay:1.5s; 
}
.de{ 
    animation-delay:2.4s; 
    -moz-animation-delay:2.4s; 
    -webkit-animation-delay:2.4s; 
}
.dr { 
    animation-delay:1.2s; 
    -moz-animation-delay:1.2s; 
    -webkit-animation-delay:1.2s; 
}

.zz{ 
    animation-delay:2.6s; 
    -moz-animation-delay:2.6s; 
    -webkit-animation-delay:2.6s; 
}
.zo{ 
    animation-delay:1.4s; 
    -moz-animation-delay:1.4s; 
    -webkit-animation-delay:1.4s; 
}
.zn{ 
    animation-delay:1.6s; 
    -moz-animation-delay:1.6s; 
    -webkit-animation-delay:1.6s; 
}
.ze{ 
    animation-delay:3.5s; 
    -moz-animation-delay:3.5s; 
    -webkit-animation-delay:3.5s; 
}
/* sidebar */
#side-home{ 
    animation-delay:0.5s; 
    -moz-animation-delay:0.5s; 
    -webkit-animation-delay:0.5s; 
    background: transparent;
}
#side-about{ 
    animation-delay:1.5s; 
    -moz-animation-delay:1.5s; 
    -webkit-animation-delay:1.5s; 
}
#side-services{ 
    animation-delay:1s; 
    -moz-animation-delay:1s; 
    -webkit-animation-delay:1s; 
}
#side-work{ 
    animation-delay:2s; 
    -moz-animation-delay:2s; 
    -webkit-animation-delay:2s; 
}
#side-contact{ 
    animation-delay:2.5s; 
    -moz-animation-delay:2.5s; 
    -webkit-animation-delay:2.5s; 
}
#content{ 
    animation-delay:2.5s; 
    -moz-animation-delay:2.5s; 
    -webkit-animation-delay:2.5s; 
}
#content img { 
    animation-delay:1.7s; 
    -moz-animation-delay:1.7s; 
    -webkit-animation-delay:1.7s; 
}