.sliderWrapper{
    width: 66.4%;
    position: relative;
    float: left;
    margin: 30px 0px 0px 0px;
}
#slider_wrapper{
    margin: 25px 0px 0px 0px;
    box-shadow: 0px 0px 2px 2px #f9f9f9;
}
#amazingslider-1{
    
}